.mds-container {
  width: 100%;
  @include max-width();
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 56px;
  box-sizing: border-box;
  background-color: semantic-color('background', 'base');

  &.left {
    margin-left: 0;
  }

  &.right {
    margin-right: 0;
  }

  &.full {
    max-width: none;
  }

  @include media-desktop-m {
    @include max-width('1200px');
  }

  @include media-tablet-m {
    max-width: none;
    padding-left: 48px;
    padding-right: 48px;
  }

  @include media-mobile-m {
    padding-left: 16px;
    padding-right: 16px;
  }
}
