.mds-form form {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 40px;

  fieldset {
    width: 100%;
    min-width: unset;

    & > div {
      margin-top: 24px;

      &:first-child {
        margin-top: 0;
      }

      &.button__group {
        margin-top: 40px;
      }
    }

    .dropdown-box {
      width: 100%;
    }

    & > label {
      margin-top: 24px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}
