.mds-list-wrap{
  width: 100%;
  padding-top:12px;
  padding-bottom:12px;
  @include shadow-level2;
  background-color: semantic-color('background', 'overlay');

  .mds-list-box{
    position: relative;
    display: flex;
    align-items: center;
    gap:12px;
    width: 100%;
    min-height: 70px;

    svg{
      color: semantic-color('text', 'default');
    }

    .mds-list__right-box{
      position: absolute;
      top:50%;
      right:0;
      transform: translateY(-50%);
      padding:8px 16px;
    }

    .mds-list__left-box{
      display: flex;
      align-items: center;
      gap:12px;
      width: 100%;
      min-height: 70px;
      padding:8px 16px;

      &:hover, &:focus, &:active{
        background-color: semantic-color('background', 'overlay-accent');
      }
    }

    &.top{

      .mds-list__right-box{
        top:0;
        transform: translateY(0);
      }
      .mds-list__left-box{
      align-items: flex-start;
      }
    }

    .mds-list__icon-box{
      flex: none;
      width: 24px;
      height: 24px;

      svg{
        width: 100%;
        height:100%;
      }

      &.icon-with-event{
        cursor: pointer;
      }
    }

    .mds-list__avatar-box{
      flex: none;
      width: 40px;
      height: 40px;

      svg, img{
        width: 100%;
        height:100%;
      }
    }
    
    .mds-list__image-box{
      flex: none;
      width: 54px;
      height: 54px;

      svg, img{
        width: 100%;
        height:100%;
      }
    }

    .mds-list__text-box{
      width: 100%;

      .font-body{
        @include ellipsis(2);
      }
    }

  }
}