.modal-wrap{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;

  .dim{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &.open{
    display: block;
    z-index: 99999999;
    
    .dim{
      display: block;
      background-color: semantic-color('dimmed', '60');
    }
  }
}
.modal-box{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding:24px;
  min-height:184px;
  max-height: 800px;
  background-color: semantic-color('background', 'overlay');
  @include scrollY(semantic-color('background', 'overlay'));

  .modal-close-button{
    position: absolute;
    top:24px;
    right: 24px;
    width:24px;
    height:24px;
    cursor: pointer;

    svg{
      width: inherit;
      height: inherit;
    }
  }
}

$modalSize : 's', 'm', 'l', 'xl';

@mixin modalBaseCase($size){
  .modal__#{$size}{
    max-width: 90%;

    .modal-header{
      img {
        display: block;
        margin: 0 auto;
      }
      svg {
        width:32px;
        height:32px;
      }
    }

    @if( $size == 's'){
      width: 348px;
    }@else if( $size == 'm'){
      width: 532px;
      
      .modal-footer{
        .button__group{
          justify-content: flex-end;

          button{
            max-width: 100% !important;
          }
        }
      } 
    }@else if( $size == 'l'){
      width: 720px;

      .modal-body{
        max-width: 80%;
      }
      .modal-footer{
        .button__group{
          justify-content: flex-end;

          button{
            flex-grow: 0;
            width: 33%;
          }
        }
      } 
    }@else if( $size == 'xl'){
      width: 1088px;

      .modal-body{
        max-width: 80%;
      }
      .modal-footer{
        .button__group{
          justify-content: flex-end;

          button{
            flex-grow: 0;
            width: 25%;
          }
        }
      } 
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      gap:24px;

      & > div:first-child, & > label:first-child{
        margin-top:32px
      }
      & > p:first-child{
        margin-top:8px;
      }
      .input__group + .helper-text{
        margin-top:0;
      }
    }

    .modal-footer{
      margin-top:40px;
    }

    button{
      min-width: 0;
    }

    @include media-tablet-m{
      max-height: 90%;

      .modal-header{
        img {
          max-width:calc(100% - 48px);
        }
      }

      .modal-body{
        max-width: 100%;
      }

      .modal-footer{
        .button__group {
          button{
            width:100%;
          }
        }
      }
    } 
  }
}

@each $size in $modalSize{
  @include modalBaseCase($size);
}