.mds-root.mds-table-root {
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  &.mds-table-wrap {
    width: 100%;
    @include scrollX(semantic-color('background', 'base'));

    table {
      width: 100%;
      color: semantic-color('text', 'default');

      &.vertical-heading-mode {
        border-top: 1px solid semantic-color('divider', 'default');
      }
    }
    & + div.mds-pagination {
      margin-top: 24px;
    }
  }
}

$tableSize: 'l', 's';
$tableAlign: 'left', 'center', 'right';

@mixin tableCase($size, $align) {
  .mds-table-#{$size}-#{$align} {
    @if ($align == 'right') {
      text-align: right;
    } @else if($align == 'center') {
      text-align: center;
    } @else {
      text-align: left;
    }

    .right {
      text-align: right;
    }
    .center {
      text-align: center;
    }

    thead {
      background-color: semantic-color('background', '2nd-base');
      tr {
        border-bottom: 1px solid semantic-color('divider', 'default');
        th {
          div.th__content-wrap {
            @include ellipsis();

            button {
              display: inline-flex;

              &.sort-icon {
                svg {
                  color: semantic-color('text', 'subtlest');
                }

                &.ascend {
                  svg {
                    path:nth-child(1),
                    path:nth-child(2) {
                      color: semantic-color('text', 'default');
                    }
                  }
                }

                &.descend {
                  svg {
                    path:nth-child(3),
                    path:nth-child(4) {
                      color: semantic-color('text', 'default');
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    tbody {
      background-color: semantic-color('background', 'base');
      tr {
        border-bottom: 1px solid semantic-color('divider', 'default');
        &:hover,
        &:focus,
        &:active {
          background-color: semantic-color('background', '2nd-base');
        }

        &.selected {
          background-color: semantic-color('background', 'primary-light');
        }

        th {
          border-right: 1px solid semantic-color('divider', 'default');
          background-color: semantic-color('background', '2nd-base');
        }
        td {
          &.right.component-mode {
            & > div {
              margin-right: 0;
              margin-left: auto;
            }
          }

          &.center.component-mode {
            & > div {
              margin-right: auto;
              margin-left: auto;
            }
          }
        }
      }
    }

    @if ($size == 's') {
      thead {
        tr {
          th {
            min-height: 40px;
            padding: 12px 16px;

            &.checkbox-mode {
              width: 40px;
              padding: 8px;
            }
          }
        }
      }
      tbody {
        tr {
          th,
          td {
            min-height: 40px;
            padding: 12px 16px;

            &.checkbox-mode {
              width: 40px;
              padding: 8px;
            }

            &.component-mode {
              padding: 12px;
            }
          }
        }
      }
    } @else {
      thead {
        tr {
          th {
            min-height: 56px;
            padding: 16px;
            vertical-align: middle;

            &.checkbox-mode {
              width: 56px;
              padding: 8px;
            }
          }
        }
      }
      tbody {
        tr {
          th,
          td {
            min-height: 56px;
            padding: 16px;
            vertical-align: middle;

            &.checkbox-mode {
              width: 56px;
              padding: 8px;
            }

            &.component-mode {
              padding: 12px;
            }
          }
        }
      }

      .checkbox-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .no-data-row {
        &:hover,
        &:focus,
        &:active {
          background-color: transparent;
        }
        td {
          padding: 64px 0;
          text-align: center;

          p {
            color: semantic-color('text', 'subtlest');
          }
        }
      }
    }
  }
}

@each $size in $tableSize {
  @each $align in $tableAlign {
    .mds-root.mds-table-root {
      @include tableCase($size, $align);
    }
  }
}
