.tooltip-wrap{
  position: relative;
  display: inline-block;
}

@mixin tooltipDirectionCase($direction, $theme){
    .tooltip-box{
      display: none;
      position: absolute;
      left:50%;
      transform: translateX(-50%);
      top: calc(100% + 8px);
      max-width: 330px;
      width: max-content;
      padding: 4px 12px;
      text-align: left;
      color:  semantic-color('text', 'default-reverse');
      background-color: semantic-color('background', 'overlay-reverse');
    
      p, span, label{
        color:  semantic-color('text', 'default-reverse');
      }

      @include shadow-level2;

      &.arrow::before{
        content:'';
        display: block;
        position: absolute;
        left:50%;
        bottom: 100%;
        margin-left:-5px;
        border: 1px solid semantic-color('background', 'overlay-reverse') ;
        border-color: semantic-color('background', 'overlay-reverse') transparent transparent transparent;
        border-width: 4px 5px 0;
        transform: rotate(180deg);
      }
    
      &.open{
        display: block;
      }
    }
    
    .tooltip-box-#{$theme}{
      @if($theme == 'dark-mode'){
        color:  semantic-color('text', 'default-reverse');
        background-color: semantic-color('background', 'overlay-reverse');
      
        p, span, label{
          color:  semantic-color('text', 'default-reverse');
        }

        &.arrow::before{
          border-color: semantic-color('background', 'overlay-reverse') transparent transparent transparent;
        }  
      }@else if($theme == 'light-mode'){
        color:  semantic-color('text', 'default');
        background-color: semantic-color('background', 'overlay');
      
        p, span, label{
          color:  semantic-color('text', 'default');
        }

        &.arrow::before{
          border-color: semantic-color('background', 'overlay') transparent transparent transparent;
        }
      }
    }
    
    .tooltip-#{$direction}{
      @if($direction == 'top'){
        .tooltip-box{
          top:auto;
          bottom:calc(100% + 8px);
  
          &.arrow::before{
            top: 100%;
            bottom:auto;
            transform: rotate(0deg);
          }
        }
      }@else if($direction == 'top-left'){
        .tooltip-box{
          top:auto;
          bottom:calc(100% + 8px);
          right: 0;
          left: auto;
          transform: none;
          
          &.arrow::before{
            top: 100%;
            left:calc(100% - 17px);
            bottom:auto;
            transform: rotate(0deg);
          }
        }
      }@else if($direction == 'top-right'){
        .tooltip-box{
          top:auto;
          bottom:calc(100% + 8px);
          left: 0;
          transform: none;
          
          &.arrow::before{
            top: 100%;
            left:auto;
            right:calc(100% - 22px);
            bottom:auto;
            transform: rotate(0deg);
          }
        }
      }@else if($direction == 'right'){
        .tooltip-box{
          top: 50%;
          left: calc(100% + 8px);
          transform: translateY(-50%);
          
          &.arrow::before{
            top: calc(50% - 3px);
            left:auto;
            right:calc(100% - 3px);
            bottom:auto;
            transform: rotate(90deg);
          }
        }
      }@else if($direction == 'bottom-right'){
        .tooltip-box{
          left: 0;
          transform:none;
          
          &.arrow::before{
            bottom: 100%;
            left:auto;
            right:calc(100% - 22px);
          }
        }
      }@else if($direction == 'bottom-left'){
        .tooltip-box{
          right: 0;
          left: auto;
          transform: none;
          
          &.arrow::before{
            bottom: 100%;
            left:calc(100% - 17px);
          }
        }
      }@else if($direction == 'left'){
        .tooltip-box{
          top: 50%;
          left:auto;
          right: calc(100% + 8px);
          transform: translateY(-50%);
          
          &.arrow::before{
            top: calc(50% - 3px);
            left:calc(100% + 2px);
            bottom:auto;
            transform: rotate(270deg);
          }
        }
      }
    }
}

$tooltipDirections : 'top-left', 'top', 'top-right', 'right', 'bottom-right', 'bottom', 'bottom-left', 'left';
$themeMode: 'dark-mode', 'light-mode';

@each $direction in $tooltipDirections{
  @each $theme in $themeMode{
    @include tooltipDirectionCase($direction, $theme);
  }
}