@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/Pretendard-Bold.eot');
  src: url('../../public/fonts/Pretendard-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../../public/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/Pretendard-SemiBold.eot');
  src: url('../../public/fonts/Pretendard-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/Pretendard-Medium.eot');
  src: url('../../public/fonts/Pretendard-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('../../public/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Pretendard-Regular.eot');
  src: url('../../public/fonts/Pretendard-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../public/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../../public/fonts/Pretendard-Regular.woff') format('woff');
}
