@mixin spinner-style($color) {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  & > svg.spinner {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    // margin: -25px 0 0 -25px;
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 24px;
    height: 24px;
    color: inherit;

    &.spinner-#{$color} {
      & .path {
        @if ($color == 'white') {
          stroke: semantic-color('text', 'default-reverse');
        } @else if($color == 'black') {
          stroke: semantic-color('text', 'default');
        }
        stroke-linecap: square;
        animation: dash 1.5s ease-in-out infinite;
      }
    }
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

$spinnerColors: 'white', 'black';

.mds-root.spinner-wrap {
  @each $color in $spinnerColors {
    @include spinner-style($color);
  }
}
