// theme별 참조 컬러 토큰이 다른 경우 $semantic-color-map과 $theme-map-light, $theme-map-dark 모두 추가가 필요함.
// color-background 참고
$semantic-color-map: (
  // semantic text
  $--color-text-default: var($--palette-gray-900),
  $--color-text-default-reverse: var($--palette-gray-50),
  $--color-text-sub: var($--palette-gray-700),
  $--color-text-subtlest: var($--palette-gray-500),
  $--color-text-disabled: var($--palette-gray-400),
  $--color-text-error: var($--palette-red),
  $--color-text-error-accent: var($--palette-red-accent),
  $--color-text-information: var($--palette-blue),
  $--color-text-accent: var($--text-accent),
  $--color-text-success: var($--palette-green),
  $--color-text-warning: var($--palette-orange),
  // color background - theme별 참조 컬러 토큰이 다름
  $--color-background-base: var($--background-base),
  $--color-background-2nd-base: var($--background-2nd-base),
  $--color-background-ui-base: var($--background-ui-base),
  $--color-background-ui-middle: var($--background-ui-middle),
  $--color-background-ui-middle-accent: var($--background-ui-middle-accent),
  $--color-background-overlay: var($--background-overlay),
  $--color-background-overlay-reverse: var($--background-overlay-reverse),
  $--color-background-overlay-accent: var($--background-overlay-accent),
  $--color-background-primary: var($--background-primary),
  $--color-background-primary-accent: var($--background-primary-accent),
  $--color-background-secondary: var($--background-secondary),
  $--color-background-secondary-accent: var($--background-secondary-accent),
  $--color-background-tertiary: var($--background-tertiary),
  $--color-background-disabled: var($--background-disabled),
  $--color-background-error: var($--background-error),
  $--color-background-error-accent: var($--background-error-accent),
  $--color-background-error-light: var($--background-error-light),
  $--color-background-warning: var($--background-warning),
  $--color-background-warning-light: var($--background-warning-light),
  $--color-background-information: var($--background-information),
  $--color-background-information-light: var($--background-information-light),
  $--color-background-success: var($--background-success),
  $--color-background-success-light: var($--background-success-light),
  // semantic border
  $--color-border-default: var($--palette-gray-400),
  $--color-border-accent: var($--palette-gray-900),
  $--color-border-disabled: var($--palette-gray-300),
  $--color-border-error: var($--palette-red),
  $--color-border-error-accent: var($--palette-red-accent),
  $--color-border-success: var($--palette-green),
  // semantic divider
  $--color-divider-default: var($--palette-gray-300),
  $--color-divider-accent: var($--palette-gray-500),
  // semantic dimmed
  $--color-dimmed-85: rgba(0, 0, 0, 0.85),
  $--color-dimmed-60: rgba(0, 0, 0, 0.6)
);

$theme-map-light: (
  $--theme-primary: #d75894,
  $--theme-secondary: #9b3dca,
  $--theme-surface: #fff,
  $--theme-background: #fafafa,
  $--theme-on-primary: #fff,
  $--theme-on-secondary: #fff,
  $--theme-on-surface: #000,

  $--palette-white: #ffffff,
  $--palette-black: #000000,

  // primary mint
  $--palette-mint-900: #0f9bb6,
  $--palette-mint-800: #0eadca,
  $--palette-mint-700: #0fbed7,
  $--palette-mint-600: #0fcbdd,
  $--palette-mint-500: #1dd9e7,
  $--palette-mint-400: #43dfeb,
  $--palette-mint-300: #73e7f0,
  $--palette-mint-200: #99eef4,
  $--palette-mint-100: #bbf4f8,
  $--palette-mint-50: #ddf9fb,

  // gray
  $--palette-gray-900: #222222,
  $--palette-gray-800: #424242,
  $--palette-gray-700: #606060,
  $--palette-gray-600: #818181,
  $--palette-gray-500: #9e9e9e,
  $--palette-gray-400: #c2c2c2,
  $--palette-gray-300: #dedede,
  $--palette-gray-200: #f0f0f0,
  $--palette-gray-100: #f5f5f5,
  $--palette-gray-50: #fafafa,

  // sub color
  $--palette-red: #ea1b1b,
  $--palette-red-accent: #d80516,
  $--palette-red-light: #ffe9e9,
  $--palette-orange: #f97f0e,
  $--palette-orange-light: #ffebd0,
  $--palette-green: #00c400,
  $--palette-green-light: #dbf1db,
  $--palette-blue: #109eff,
  $--palette-blue-light: #cef1ff,
  $--palette-purple: #e59bff,
  $--palette-magenta: #f567ac,

  // text color
  $--text-accent: var($--palette-mint-500),
  // background color
  $--background-base: var($--palette-white),
  $--background-2nd-base: var($--palette-gray-100),
  $--background-ui-base: var($--palette-gray-50),
  $--background-ui-middle: var($--palette-gray-500),
  $--background-ui-middle-accent: var($--palette-gray-700),
  $--background-overlay: var($--palette-white),
  $--background-overlay-reverse: var($--palette-gray-800),
  $--background-overlay-accent: var($--palette-gray-50),
  $--background-primary: var($--palette-mint-500),
  $--background-primary-accent: var($--palette-mint-800),
  $--background-secondary: var($--palette-gray-700),
  $--background-secondary-accent: var($--palette-gray-800),
  $--background-tertiary: var($--palette-white),
  $--background-disabled: var($--palette-gray-100),
  $--background-error: var($--palette-red),
  $--background-error-accent: var($--palette-red-accent),
  $--background-error-light: var($--palette-red-light),
  $--background-warning: var($--palette-orange),
  $--background-warning-light: var($--palette-orange-light),
  $--background-information: var($--palette-blue),
  $--background-information-light: var($--palette-blue-light),
  $--background-success: var($--palette-green),
  $--background-success-light: var($--palette-green-light),
);

$theme-map-dark: (
  $--theme-primary: #f34c83,
  $--theme-secondary: #c298dc,
  $--theme-surface: #2f2b2b,
  $--theme-background: #1b1918,
  $--theme-on-primary: #443e41,
  $--theme-on-secondary: #000,
  $--theme-on-surface: #f5f1f2,

  $--palette-white: #ffffff,
  $--palette-black: #000000,

  // primary mint
  $--palette-mint-900: #ddf9fb,
  $--palette-mint-800: #bbf4f8,
  $--palette-mint-700: #99eef4,
  $--palette-mint-600: #73e7f0,
  $--palette-mint-500: #43dfeb,
  $--palette-mint-400: #1dd9e7,
  $--palette-mint-300: #0fcbdd,
  $--palette-mint-200: #0fbed7,
  $--palette-mint-100: #0eadca,
  $--palette-mint-50: #0f9bb6,

  // gray
  $--palette-gray-900: #fdfdfd,
  $--palette-gray-800: #e9e9e9,
  $--palette-gray-700: #d9d9d9,
  $--palette-gray-600: #c0c0c0,
  $--palette-gray-500: #a3a3a3,
  $--palette-gray-400: #8e8e8e,
  $--palette-gray-300: #4f4f50,
  $--palette-gray-200: #343434,
  $--palette-gray-100: #272626,
  $--palette-gray-50: #141212,

  // sub color
  $--palette-red: #ee3b3b,
  $--palette-red-accent: #e70f21,
  $--palette-red-light: #4e0b0b,
  $--palette-orange: #f98d0e,
  $--palette-orange-light: #4d2e06,
  $--palette-green: #03cd03,
  $--palette-green-light: #073207,
  $--palette-blue: #24a6ff,
  $--palette-blue-light: #023245,
  $--palette-purple: #e394ff,
  $--palette-magenta: #f86fb1,

  // text color
  $--text-accent: var($--palette-mint-400),
  // background color
  $--background-base: var($--palette-gray-50),
  $--background-2nd-base: var($--palette-gray-100),
  $--background-ui-base: var($--palette-gray-100),
  $--background-ui-middle: var($--palette-gray-500),
  $--background-ui-middle-accent: var($--palette-gray-700),
  $--background-overlay: var($--palette-gray-200),
  $--background-overlay-reverse: var($--palette-gray-900),
  $--background-overlay-accent: var($--palette-gray-300),
  $--background-primary: var($--palette-mint-500),
  $--background-primary-accent: var($--palette-mint-200),
  $--background-secondary: var($--palette-gray-700),
  $--background-secondary-accent: var($--palette-gray-800),
  $--background-tertiary: var($--palette-gray-50),
  $--background-disabled: var($--palette-gray-200),
  $--background-error: var($--palette-red),
  $--background-error-accent: var($--palette-red-accent),
  $--background-error-light: var($--palette-red-light),
  $--background-warning: var($--palette-orange),
  $--background-warning-light: var($--palette-orange-light),
  $--background-information: var($--palette-blue),
  $--background-information-light: var($--palette-blue-light),
  $--background-success: var($--palette-green),
  $--background-success-light: var($--palette-green-light),
);

:root,
:root.light,
.light {
  @include spread-map($theme-map-light);
  @include spread-map($semantic-color-map);
}

:root.dark,
.dark {
  @include spread-map($theme-map-dark);
  @include spread-map($semantic-color-map);
}
