@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url('../../../../public/fonts/Pretendard-Bold.eot');
  src: url('../../../../public/fonts/Pretendard-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../public/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('../../../../public/fonts/Pretendard-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 600;
  src: url('../../../../public/fonts/Pretendard-SemiBold.eot');
  src: url('../../../../public/fonts/Pretendard-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../public/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('../../../../public/fonts/Pretendard-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('../../../../public/fonts/Pretendard-Medium.eot');
  src: url('../../../../public/fonts/Pretendard-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../public/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('../../../../public/fonts/Pretendard-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: url('../../../../public/fonts/Pretendard-Regular.eot');
  src: url('../../../../public/fonts/Pretendard-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../../../../public/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('../../../../public/fonts/Pretendard-Regular.woff') format('woff');
}

@mixin font-common {
  font: inherit;
  font-family: 'Pretendard', sans-serif !important;
  vertical-align: baseline;
  color: semantic-color('text', 'default');
  white-space: break-spaces;

  &.left {
    text-align: left;
  }
  &.right {
    text-align: left;
  }
  &.center {
    text-align: center;
  }
}

$font-scales: (
  'px': (
    '12': 12px,
    '14': 14px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '24': 24px,
    '28': 28px,
    '32': 32px,
    '36': 36px,
    '40': 40px,
    '48': 48px,
  ),
  'rem': (
    '12': 0.75rem,
    '14': 0.875rem,
    '16': 1rem,
    '18': 1.125rem,
    '20': 1.25rem,
    '24': 1.5rem,
    '28': 1.75rem,
    '32': 2rem,
    '36': 2.25rem,
    '40': 2.5rem,
    '48': 3rem,
  ),
);

$font-weights: (
  'semibold': 600,
  'medium': 500,
  'regular': 400,
);

%font-title {
  @include font-common;
  line-height: 1.3;
  font-weight: font-weight('semibold');
  color: semantic-color('text', 'default');
}
%font-text {
  @include font-common;
  line-height: 1.5;
  font-weight: font-weight('regular');
  color: semantic-color('text', 'default');

  &.default {
    color: semantic-color('text', 'default');
  }
  &.sub {
    color: semantic-color('text', 'sub');
  }
  &.subtlest {
    color: semantic-color('text', 'subtlest');
  }
}

%font-label {
  @include font-common;
  line-height: 1.5;
  font-weight: font-weight('medium');

  &.default {
    color: semantic-color('text', 'default');
  }
  &.sub {
    color: semantic-color('text', 'sub');
  }
  &.subtlest {
    color: semantic-color('text', 'subtlest');
  }
}

@each $type, $scales in $font-scales {
  @if ($type == 'px') {
    // px 기준으로 맞춤
    @each $scale, $size in $scales {
      @include fontScales($scale, $size);
    }
  }
}
@each $key, $value in $font-weights {
  @include fontWeights($key, $value);
}

.font-box {
  margin-bottom: 8px;
}

.font-title-xl {
  @extend %font-title;
  font-size: font-scale('48');

  @include media-mobile-m {
    font-size: font-scale('32');
  }
}

.font-title-l {
  @extend %font-title;
  font-size: font-scale('32');

  @include media-mobile-m {
    font-size: font-scale('24');
  }
}

.font-title-m {
  @extend %font-title;
  font-size: font-scale('24');

  @include media-mobile-m {
    font-size: font-scale('20');
  }
}

.font-title-s {
  @extend %font-title;
  font-size: font-scale('20');

  @include media-mobile-m {
    font-size: font-scale('18');
  }
}

.font-title-xs {
  @extend %font-title;
  font-size: font-scale('18');

  @include media-mobile-m {
    font-size: font-scale('16');
  }
}

.font-body-l {
  @extend %font-text;
  font-size: font-scale('16');

  @include media-mobile-m {
    font-size: font-scale('16');
  }
}

.font-body-m {
  @extend %font-text;
  font-size: font-scale('14');

  @include media-mobile-m {
    font-size: font-scale('14');
  }
}

.font-body-s {
  @extend %font-text;
  font-size: font-scale('12');

  @include media-mobile-m {
    font-size: font-scale('12');
  }
}

.font-label-xl {
  @extend %font-label;
  font-size: font-scale('18');

  @include media-mobile-m {
    font-size: font-scale('18');
  }
}

.font-label-l {
  @extend %font-label;
  font-size: font-scale('16');

  @include media-mobile-m {
    font-size: font-scale('16');
  }
}

.font-label-m {
  @extend %font-label;
  font-size: font-scale('14');

  @include media-mobile-m {
    font-size: font-scale('14');
  }
}

.font-label-s {
  @extend %font-label;
  font-size: font-scale('12');

  @include media-mobile-m {
    font-size: font-scale('12');
  }
}
